@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	font-family: 'Lato', sans-serif;
}
.container_fluid{}
.header_section{
    background: #F6F9F9;
    padding: 30px 0px;
}
.logo{}
.logo img{}
.slider_section{}
.carousel-caption {
    position: absolute;
    right: 15% !important;
    bottom: 50%;
    left: 15% !important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    transform: translateY(50%);
}
.carousel-caption h1{
    font-size: 85px;
    position: relative;
    margin: 0px;
    padding-bottom: 15px;
}
.carousel-caption p{
    font-size: 15px;
    margin: 0px;
    padding-top: 20px;
	padding-bottom: 45px;
}
.carousel-caption h1:after{
    content: "";
    width: 65%;
    height: 2px;
    background: #15A4FA;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn-custom{
    border: 1px solid #15A4FA;
    background: transparent;
    padding: 10px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.7s;
}
.btn-custom:hover{
	background:  #135484;
}
.arrow{
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    transform: translateX(-50%) !important;
    transform: translateY(5%);
} 
.pure-design-section{
    background: #F6F9F9;
}
.header{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.header h1{
	margin: 0;
	padding-bottom: 15px;
}
.header p{
	margin: 0;
}
.feature_section{}
.feature{
    text-align: center;
    padding: 40px 0px;
}
.feature-img{
    width: 100px;
    height: 100px;
    background: #48baff;
    background: -moz-linear-gradient(left, #48baff 0%, #48baff 50%, #5fc3ff 50%);
    background: -webkit-linear-gradient(left, #48baff 0%,#48baff 50%,#5fc3ff 50%);
    background: linear-gradient(to right, #48baff 0%,#48baff 50%,#5fc3ff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48baff', endColorstr='#5fc3ff',GradientType=1 );
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}
.feature-img i{

}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 50px;
    font-style: normal;
    margin-left: 0px;
    color: white;
}
.caption{
    padding-top: 30px;
}
.caption h4{
    text-transform: capitalize;
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
}
.caption p{
    margin: 0;
}
.work_section{
	background: #F6F9F9; 
 }
.works{
    position: relative;
    margin-bottom: 25px;
}

.works img{

}
.hover-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
	z-index: 1;
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;

}
.works:hover .hover-link{
	transform: translate(-50%, -50%);
}
.hover-link li{}
.hover-link li a{
    color: #fff;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    line-height: 25px;
}
.works:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 172, 247, 0.73);
    z-index: 0;
    transform: scale(.0);
	-webkit-transform: scale(.0);
	-moz-transform: scale(.0);
	transition: all 0.7s ease-in;
	-webkit-transition: all 0.7s ease-in;
	-moz-transition: all 0.7s ease;
}
.works:hover:after{
    transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);	
}
.contact_section{
    background: url(../images/fbg.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.form-group{}
.checkbox{}
.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(44, 55, 75, 0.84);
    transform: translate(-50%, -50%);
    z-index: -1;
}
footer{
    background: #F6F9F9;
    text-align: center;
}
footer  p{
	margin: 0;
    line-height: 60px;
}
.social{
    padding: 10px;
    margin: 0;
}
.social li{
    padding: 0;
}
.social li .fa{
	font-size: 40px;
    color: #15A4FA;	
    transition: 0.7s;
}
.social li .fa:hover{
	color: #135484;
}